<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- site.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <%- page.body %>
  </body>
  <script src="<%= site.root %>/js/main.js" defer></script>
</html>