<wc-tab-panel id="cba">

  <wc-tabs>
    <wc-tab id="import-tab">Import/export</wc-tab>
    <wc-tab id="wc-tab">CBA</wc-tab>
    <wc-tab id="functions-tab">funcions</wc-tab>
  </wc-tabs>

  <wc-panels>
    <wc-panel aria-labelledby="import-tab">
      <h2>Import/Export</h2>
    </wc-panel>
    <wc-panel aria-labelledby="wc-tab">
      <h2>CBA</h2>
    </wc-panel>
    <wc-panel aria-labelledby="functions-tab">
      <h2>Functions</h2>
    </wc-panel>
  </wc-panels>

</wc-tab-panel>
